body {
  font-family: "Syne Mono", monospace;
  font-size: 15px;
  line-height: 1.8;
  color: #868686;
  background: #fff;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-family: "Syne Mono", monospace;
}

main {
  margin: 2rem;
}
